@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";


@theme static {
  /* Override default green color */
  --ui-primary: #0652ff;
  --ui-bg: #141414;
}

:root  {
    font-family: "Noto Sans", sans-serif;
}