@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";


@theme static {
  --ui-primary: #292875;
  --ui-bg: #181827;
}

:root {
  --ui-primary: #292875;
  --ui-bg:  #eaeaea;
}

.dark {
  --ui-bg:  #0d0e12;
  --ui-primary: #0ef0a1;

}